.strong {
    width: 60px;
    height: 60px;
    cursor: pointer;

    background-color: black;
    -webkit-mask: url(src/app/component/toolbar-item/asset/strong.svg) no-repeat center;
    mask: url(src/app/component/toolbar-item/asset/strong.svg) no-repeat center;

    user-select: none;
}

.em {
    width: 60px;
    height: 60px;
    cursor: pointer;

    background-color: black;
    -webkit-mask: url(src/app/component/toolbar-item/asset/em.svg) no-repeat center;
    mask: url(src/app/component/toolbar-item/asset/em.svg) no-repeat center;

    user-select: none;
}

.u {
    width: 60px;
    height: 60px;
    cursor: pointer;

    background-color: black;
    -webkit-mask: url(src/app/component/toolbar-item/asset/u.svg) no-repeat center;
    mask: url(src/app/component/toolbar-item/asset/u.svg) no-repeat center;

    user-select: none;
}

.active {
    background-color: rebeccapurple;
}