.bf-content-editable-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bf-content-editable-container {
    width: 80%;
    max-width: 1200px;
    height: 90vh;
    padding: 40px;
}

.bf-content-editable-toolbar {
    display: flex;

    height: 40px;
    width: 100%;

    box-sizing: border-box;
}

.bf-content-editable-scroll {
    height: 100%;
    overflow: scroll;
}

.bf-editor {
    padding: 20px 8px;
    font-family: "InstrumentSans", sans-serif;
}

.bf-editor:focus {
    outline: none;
}