.be-content-editable-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 1.25em;
    width: 100%;
    border-radius: .75em .75em 0 0;

    box-sizing: border-box;
    background-color: color-mix(in oklab, white 70%, transparent);
}

.be-editor {
    padding: 1.75em;
}

.be-editor:focus {
    outline: none;
}