@font-face {
    font-family: "InstrumentSans";
    src: url("/asset/InstrumentSans-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}