@font-face {
    font-family: "InstrumentSans";
    src: url("/asset/InstrumentSans-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.bf-editor {
    visibility: visible !important;
}

.bf-editor strong {
    font-weight: bold;
}

.bf-editor em {
    font-style: italic;
}

.bf-editor h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.1;
}

.bf-editor h1 {
    font-size: 36px;
}

.bf-editor h2 {
    font-size: 30px;
}

.bf-editor h3 {
    font-size: 24px;
}

.bf-editor h4 {
    font-size: 18px;
}

.bf-editor h5 {
    font-size: 14px;
}

.bf-editor blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}

.bf-editor ul, ol {
    padding: 12px;
}

.bf-editor ul li::before {
    content: "• ";
    display: inline-block;
    margin-left: -24px;
    margin-right: 6px;
    text-align: right;
    white-space: nowrap;
    width: 24px;
}

.bf-editor ul li {
    margin-top: 8px;
    padding-left: 8px;
}

.bf-editor ul ul li {
    margin-left: 16px;
}

.bf-editor ul ul ul li {
    margin-left: 24px;
}

.bf-editor ul ul ul ul li {
    margin-left: 32px;
}

.bf-editor ul ul ul ul ul li {
    margin-left: 40px;
}

.bf-editor ol li::before {
    content: counter(list-item) ".";
    display: inline-block;
    margin-left: -24px;
    margin-right: 6px;
    text-align: right;
    white-space: nowrap;
    width: 24px;
}

.bf-editor ol li {
    margin-top: 8px;
    padding-left: 8px;
}

.bf-editor ol ol li {
    margin-left: 16px;
}

.bf-editor ol ol ol li {
    margin-left: 24px;
}

.bf-editor ol ol ol ol li {
    margin-left: 32px;
}

.bf-editor ol ol ol ol ol li {
    margin-left: 40px;
}

.bf-editor ol ul {
    margin-left: 16px;
}

.bf-editor ul ol {
    margin-left: 16px;
}