.flex {
    display: flex;
}

.hidden {
    display: none;
}

.icon {
    position: relative;

    width: 28px;
    height: 24px;
    padding: 3px 5px;
    cursor: pointer;

    background: none;
    border: none;
    user-select: none;
}

.empty-icon {
    width: 12px;
    background: none;
    border: none;
    user-select: none;
}

.stroke {
    fill: none;
    stroke: #444;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.fill {
    fill: #444;
}

.thin {
    stroke-width: 1;
}

.icon-svg {
    fill: #000;
}

.heading-number {
    position: absolute;
    bottom: 4px;
    right: 0;
}

.active .stroke {
    stroke: #06c;
}

.active .fill {
    fill: #06c;
}

.active .icon-svg {
    fill: #06c;
}

.active .heading-number {
    color: #06c;
}

.heading-container:hover .icon {
    display: block;
}