.be-tooltip-wrapper {
    opacity: 0;
    visibility: hidden;
    position: relative;
    bottom: .75em;
}

.be-tooltip-wrapper[open] {
    opacity: 1;
    visibility: visible;
}

.be-tooltip {
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    background: white;
    border-radius: 0.375em;
    box-shadow: 0 0.25em 0.75em rgba(0,0,0,0.15);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.625em;
    box-sizing: border-box;
}

.be-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 0.375em solid transparent;
    border-top-color: white;
    filter: drop-shadow(0 0.1875em 0.125em rgba(0,0,0,0.1));
}