.strong {
    width: 60px;
    height: 60px;
    cursor: pointer;

    background-color: black;
    -webkit-mask: url(../svg/strong.svg) no-repeat center;
    mask: url(../svg/strong.svg) no-repeat center;

    user-select: none;
}

.em {
    width: 60px;
    height: 60px;
    cursor: pointer;

    background-color: black;
    -webkit-mask: url(../svg/em.svg) no-repeat center;
    mask: url(../svg/em.svg) no-repeat center;

    user-select: none;
}

.u {
    width: 60px;
    height: 60px;
    cursor: pointer;

    background-color: black;
    -webkit-mask: url(../svg/u.svg) no-repeat center;
    mask: url(../svg/u.svg) no-repeat center;

    user-select: none;
}

.active {
    background-color: rebeccapurple;
}